<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Labb5Entities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iths.database.windows.net;initial catalog=Group2;user id=Group2sa;password=Group2NewPassword!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Group2Entities_" connectionString="metadata=res://*/DB_Cabins.csdl|res://*/DB_Cabins.ssdl|res://*/DB_Cabins.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iths.database.windows.net;initial catalog=Group2;user id=Group2sa;password=Group2NewPassword!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Group2Entities" connectionString="metadata=res://*/DataCabins.csdl|res://*/DataCabins.ssdl|res://*/DataCabins.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iths.database.windows.net;initial catalog=Group2;user id=Group2sa;password=Group2NewPassword!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Group2Entities1" connectionString="metadata=res://*/Labb5Cabins.csdl|res://*/Labb5Cabins.ssdl|res://*/Labb5Cabins.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iths.database.windows.net;initial catalog=Group2;persist security info=True;user id=Group2sa;password=Group2NewPassword!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>